<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wordCount</title>
</head>
<body>
    <h1>There are {{ count }} words in your text</h1>

    <a href="{% url 'home' %}"><button>Start Again</button></a>

    <h1>Your Text:</h1>
    {{ fulltext }}

    <h1>Word Count</h1>
    {% for word, count in sortedwords %}
        {{ word }} - {{ count }} <br>
    {% endfor %}

</body>
</html>