{% extends "blog/base.html" %}
{% load staticfiles %}
{% block title %}Blog my ass, fuck yeah!{% endblock %}		

{% block content %}
<!-- random quote here -->
<div id="quoteMyActor" class="blockquote-wrapper">
    <div class="blockquote">
        <h1>{{ quote_content }}</h1>
        <h4>&mdash; {{ quote_author }}</h4>
    </div>
</div>

<div class="divider container"></div>

<!-- articles go here -->
<div class="container blog-grid">
    <div class="row">
        {% for post in blog.all %}
        <div class="blog-article">
            <div class="blog-article-inner">                        
                <div class="blog-article-cover">
                    <a href="{% url 'article' post.slug %}">
                        <picture>
                            <img src="{% static 'gridPic.jpg' %}" class="responsive-img hide-on-med-and-down">
                            <img src="{% static 'gridPic-small.jpg' %}" class="responsive-img hide-on-large-only">
                        </picture>
                    </a>
                </div>
                <div class="blog-article-content">
                    <a href="{% url 'article' post.slug %}">
                            
                        <p class="blog-article-title">{{post.title}}</p>
                    </a>
                    <p class="blog-article-text">{{post.summary |safe }}</p>
                    <p class="blog-article-date">
                        <span>{{post.pub_date_pretty}}</span>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}       
    </div>    
</div>
{% endblock %}
{% block movieline %}{{ bottomline }}{% endblock %}