body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
    
footer {
    background-color: #ee6e73;
    color: white;
}

#controls {
    margin-bottom: 4rem;
}

#board {
    max-width: 600px;
}

.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
    background-color: #eceff1;
    border-radius: 16px;
}

.content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
    text-align:center;
    box-sizing: content-box;    
}
.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}

@media only screen and (min-width: 350px){
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
        height: 64px;
        line-height: 64px;
    }
}

.sidenav {
	background-color: #ef5350;
	color: #292a2b;
}

#mobile {
    padding: 100px 0;
}

#mobile li {
    font-family: 'PT Sans',sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.6rem;
	margin-top: 25px;
	text-align: center;
}

#mobile a {
    text-decoration: none;
    color: #fff;
    font-family: 'PT Sans',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.6rem;
    line-height: 6rem;
    -webkit-transition: all .3s cubic-bezier(.25,.46,.45,.94);
    transition: all .3s cubic-bezier(.25,.46,.45,.94);
}

#mobile i {
	float: none;
	font-size: 6rem !important;
}