{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>OXO</title>

	<!-- Vue.js -->
	<script src="{% static 'js/vue.js' %}"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'css/transitions.css' %}">

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="{% url 'home' %}">Tomas Luque</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav ml-auto">
					<a class="nav-item nav-link" href="https://twitter.com/T_LuGon" target="_blank">Twitter</a>
					<a class="nav-item nav-link" href="{% static 'resume.pdf' %}" target="_blank">Resume</a>
					<a class="nav-item nav-link" href="{% url 'allblogs' %}">Blog</a>
				</div>
			</div>
		</nav>
	</header>
	
	<div id="app">		

		<transition name="fade">
			<div class="container mt-5" id="firstMenu" v-if="isActive == 'firstMenu'">
				<div class="row">
					<div class="col">
						<button type="button" class="btn btn-info btn-lg btn-block" @click="changeMenu('secondMenu')">Start Game</button>
					</div>
				</div>
			</div>
		</transition>

		<transition name="fade">
			<div class="container mt-5" id="secondMenu" v-if="isActive == 'secondMenu'">
				<div class="row">
					<div class="col">
						<button type="button" class="btn btn-info btn-lg btn-block" @click="changeMenu('thirdMenuSolo')">1 Player</button>
					</div>
					<div class="col">
						<button type="button" class="btn btn-info btn-lg btn-block" @click="changeMenu('thirdMenuMulti')">2 Players</button>
					</div>
				</div>
			</div>
		</transition>

		<template  v-if="isActive == 'thirdMenuSolo'">
			<transition name="fade">
				<div class="container mt-5" id="thirdMenuSolo">
					<div class="row">
						<div class="col-md-6">
							<button type="button" class="btn btn-info btn-lg btn-block" @click="changeMenu('firstMenu')">End Game</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-outline-success btn-lg btn-block" disabled>${ wSolo }$ W</button>
						</div>
						<div class="col">
							<button type="button" class="btn btn-outline-danger btn-lg btn-block" disabled>${ lSolo }$ L</button>
						</div>
							<div class="col">
						<button type="button" class="btn btn-outline-secondary btn-lg btn-block" disabled>${ dSolo }$ D</button>
						</div>
					</div>
				</div>
			</transition>
		</template>
		
		<template  v-if="isActive == 'thirdMenuMulti'">
			<transition name="fade">
				<div class="container mt-5" id="thirdMenuMulti">
					<div class="row">
							<div class="col-md-6">
								<button type="button" class="btn btn-info btn-lg btn-block" @click="changeMenu('firstMenu')">End Game</button>
							</div>
							<div class="col">
								<button type="button" class="btn btn btn-outline-primary btn-lg btn-block" disabled>P1: ${ wMulti }$</button>
							</div>
							<div class="col">
								<button type="button" class="btn btn-outline-danger btn-lg btn-block" disabled>P2: ${ lMulti }$</button>
							</div>
							<div class="col">
								<button type="button" class="btn btn-outline-secondary btn-lg btn-block" disabled>D: ${ dMulti }$</button>
							</div>
					</div>
				</div>
			</transition>
		</template>

		<div id="gameBoard"></div>


		<button @click="wSolo++">sw</button>
		<button @click="lSolo++">sl</button>
		<button @click="dSolo++">sd</button>
		<button @click="wMulti++">mw</button>
		<button @click="lMulti++">ml</button>
		<button @click="dMulti++">md</button>

	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="{% static 'js/game.js' %}"></script>
</body>
</html>