<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OXO</title>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">      
	
	<link rel="stylesheet" href="{% static 'css/materialize.css' %}">
	<link rel="stylesheet" href="{% static 'css/gameStyle.css' %}">
	
</head>
<body>
	<header>
		<nav>
			<div class="nav-wrapper container">
				<a class="brand-logo" href="{% url 'home' %}">Tomas Luque</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="https://twitter.com/T_LuGon" target="_blank">Twitter</a></li>
						<li><a href="{% static 'resume.pdf' %}" target="_blank">Resume</a></li>
						<li><a href="{% url 'allblogs' %}">Blog</a></li>
				</ul>                
			</div>
		</nav>
	</header>
	
	<main id="app">
		<div class="container">
			<div class="container center-align" id="controls">
				<button class="btn btn-large">Hello this is a button</button>
			</div>

			<div class="container center-align" id="board">
				<!-- first row -->
				<div class="square">
					<div class="content">
						<div class="table">
							<div class="table-cell">
								1
							</div>
						</div>
					</div>
				</div>
				<div class="square">
					<div class="content">
						<div class="table">
							<div class="table-cell">
								2
							</div>
						</div>
					</div>
				</div>
				<div class="square">
					<div class="content">
						<div class="table">
							<div class="table-cell">
								3
							</div>
						</div>
					</div>
				</div>
				
				<!-- second row -->
				<div class="square">
					<div class="content">
						<div class="table">
							<div class="table-cell">
								4
							</div>
						</div>
					</div>
				</div>
				<div class="square">
					<div class="content">
						<div class="table">
							<div class="blue table-cell">
								5
							</div>
						</div>
					</div>
				</div>
				<div class="square">
					<div class="content">
						<div class="table">
							<div class="table-cell">
								6
							</div>
						</div>
					</div>
				</div>
				
				<!-- third row -->
				<div class="square">
					<div class="content">
						<div class="table">
							<div class="table-cell">
								7
							</div>
						</div>
					</div>
				</div>
				<div class="square">
					<div class="content">
						<div class="table">
							<div class="table-cell">
								8
							</div>
						</div>
					</div>
				</div>
				<div class="square">
					<div class="content">
						<div class="table">
							<div class="table-cell">
								9
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer class="center-align">
			<div>
				<p>© TLG {% now 'Y' %}</p>
			</div>
		</footer>
		
		<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
		<script src="{% static 'js/vue.js' %}"></script>
		<script src="{% static 'js/oxo.js' %}"></script>

	</body>
	</html>