<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tic-Tac-Toe</title>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">      
	
	<link rel="stylesheet" href="{% static 'css/materialize.css' %}">
	<link rel="stylesheet" href="{% static 'css/gameStyle.css' %}">
	
</head>
<body>	
	<main id="app">
		<div class="container">
			<div class="container center-align" id="controls">
				<button class="btn btn-large blue lighten-2" @click="clickMe">Click</button>
			</div>

			<div class="container center-align" id="board">
                <div>1</div>
                <div>2</div>
                <div>3</div>
			</div>
		</div>
	</main>
		
        <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
        <script src="{% static 'js/vue.js' %}"></script>
        <script>
            new Vue({
                el: '#app',
                methods: {
                    clickMe: function() {

                        const myNode = document.getElementById("board");

                        console.log(myNode.children);
                    }
                }
            });
        </script>
	</body>
	</html>