<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">      
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/jobStyle.css' %}">
    <script src="{% static 'js/vue.js' %}"></script>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper container">
                <a class="brand-logo" href="{% url 'home' %}">Tomas Luque</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="https://twitter.com/T_LuGon" target="_blank">Twitter</a></li>
                        <li><a href="{% static 'resume.pdf' %}" target="_blank">Resume</a></li>
                        <li><a href="{% url 'allblogs' %}">Blog</a></li>
                </ul>                
            </div>
        </nav>
    </header>

    <main role="main" id="app">
        <div class="container center-align">
            
            

            <div class="section">
                <h1>Hi, I'm Finn.</h1>
                <p class="flow-text">
                    Les lapins nains sont des lapins issus de la sélection au sein d'élevages des lapins de petite taille de race hermine. Comme tous les lapins domestiques ils sont tous issus du Lapin européen (Oryctolagus cuniculus). Les races naines ont été créées pour l'agrément, comme animal de compagnie ou de concours. Ce sont des lapins pesant moins de 1,5 kg, souvent moins prolifiques et plus fragiles que les lapins ordinaires.
                </p>
                <div class="divider"></div>
            </div>

            <div class="section">
                <p>
                    <a href="mailto:tomasluquegonzalez@gmail.com" target="_blank" class="cyan darken-1 waves-effect waves-light btn btn-large"
                    v-bind:class="{ pulse: isMoving }"
                    ><i class="large material-icons right">email</i>Email me</a>
                </p> 
                <p>
                    <button
                        v-if="isMoving" 
                        class="red waves-effect waves-light btn-floating btn-small"
                        @click="isMoving = !isMoving"
                    ><i class="material-icons">pause</i></button>
                    
                    <button
                        v-if="!isMoving" 
                        class="green waves-effect waves-light btn-floating btn-small"
                        @click="isMoving = !isMoving"
                    ><i class="material-icons">play_arrow</i></button>
                </p>
            </div>            
            <div class="section">
                <div class="row">
                    <div class="col s6 offset-s3">
                        <img src="{% static 'tom.jpg' %}" alt="myself" class="responsive-img circle">
                    </div>
                </div>
            </div>
            <div class="divider"></div>
             
            <div class="section">
                <div class="row">
                    {% for job in jobs.all %}

                    <div class="col s4"> 
                        <div class="card hoverable">
                            <div class="card-image">
                                <img src="{{job.image.url}}">
                                <span class="card-title">Word Counter</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light amber"><i class="material-icons">link</i></a>
                            </div>
                            <div class="card-content">
                                <p>{{job.summary}}</p>
                            </div>
                        </div>  
                    </div>

                {% endfor %}    
                </div>
            </div>
        </div>
    </main>

    <footer class="center-align">
        <div>
            <p>© TLG {% now 'Y' %}</p>
        </div>
    </footer>
    
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                isMoving: true
            }
        });
    </script>
</body>
</html>